div{
    background: #9c93ed; color: #6058a1;
    text-align: center;font-family: "Courier New", monospace;
}
.Siamese{
	border: dotted 5px #d5ccff;
}
.names2{
	background: #9c93ed; color: #6058a1;font-family: comic sans ms; text-align: center
}
.names{
	background: #bdb6fa; color: #f7f5ff;font-family: comic sans ms; text-align: center
}
